@import "tailwindcss";

/* global css */
body {
  font-family: var(--font-noto-sans-bengali), var(--font-inter);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
